footer {
  background-color: var(--blueHeader);
  margin-top: 5rem;
  height: 15rem;
}

section.containerFooter {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
}
