* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

:root {
  --greyButton: #747070;
  --pulseButton: #a8a2a2;
  --blueHeader: #0f4fcc;
  --blackText: #000000;
  --whiteText: #fff;
  --greenAlert: #389538;
}
