article.containerCard {
  width: 90%;
  background-color: var(--pulseButton);
  padding: 1rem;
  position: relative;
}

.cardHotel {
  display: flex;
  position: relative;
}

.cardHotel h3{
  font-size: large;
}

p.description {
font-size: 1.5rem;

}

p.price {
  font-size: 1.2rem;
}
.dataHotel {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
  padding: 1rem;
}

img {
  width: 169px;
  height: 231px;
  object-fit: cover;
}
